<!DOCTYPE html>
<html>
<head>
  <title>Jannop</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'sessions/show_session' %>
  </header>
  
  <% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

</body>
</html>
